/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

/* Estilo de los botones añadiendo colores,etc*/
button {
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

/* Estilo para mis inputs */
input[type="text"], input[type="number"] {
    padding: 8px;
    margin: 5px 0 10px 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
